<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="inoPBI.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <inoPBI.My.MySettings>
            <setting name="LastOriginal" serializeAs="String">
                <value />
            </setting>
            <setting name="LastReplacement" serializeAs="String">
                <value />
            </setting>
            <setting name="LastFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="LastCustomer" serializeAs="String">
                <value />
            </setting>
            <setting name="LastDocumentation" serializeAs="String">
                <value />
            </setting>
            <setting name="LastFooter" serializeAs="String">
                <value />
            </setting>
            <setting name="LastHeader" serializeAs="String">
                <value />
            </setting>
            <setting name="LastDocTitle" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentProject" serializeAs="String">
                <value />
            </setting>
        </inoPBI.My.MySettings>
    </userSettings>
</configuration>
