<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="inoPBI.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <inoPBI.My.MySettings>
            <setting name="LastOriginal" serializeAs="String">
                <value />
            </setting>
            <setting name="LastReplacement" serializeAs="String">
                <value />
            </setting>
            <setting name="LastFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="LastCustomer" serializeAs="String">
                <value />
            </setting>
            <setting name="LastDocumentation" serializeAs="String">
                <value />
            </setting>
            <setting name="LastFooter" serializeAs="String">
                <value />
            </setting>
            <setting name="LastHeader" serializeAs="String">
                <value />
            </setting>
            <setting name="LastDocTitle" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentProject" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowPDF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastTMDL" serializeAs="String">
                <value />
            </setting>
            <setting name="LastPDFFile" serializeAs="String">
                <value />
            </setting>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
            <setting name="LastPage" serializeAs="String">
                <value />
            </setting>
            <setting name="LastVisual" serializeAs="String">
                <value />
            </setting>
            <setting name="LastRepFrom1" serializeAs="String">
                <value />
            </setting>
            <setting name="LastRepTo1" serializeAs="String">
                <value />
            </setting>
            <setting name="LastRepFrom2" serializeAs="String">
                <value />
            </setting>
            <setting name="LastRepTo2" serializeAs="String">
                <value />
            </setting>
            <setting name="LastRepSaveTo" serializeAs="String">
                <value />
            </setting>
            <setting name="LastRepFrom3" serializeAs="String">
                <value />
            </setting>
            <setting name="LastRepFrom4" serializeAs="String">
                <value />
            </setting>
            <setting name="LastRepFrom5" serializeAs="String">
                <value />
            </setting>
            <setting name="LastRepFrom6" serializeAs="String">
                <value />
            </setting>
            <setting name="LastRepTo3" serializeAs="String">
                <value />
            </setting>
            <setting name="LastRepTo4" serializeAs="String">
                <value />
            </setting>
            <setting name="LastRepTo5" serializeAs="String">
                <value />
            </setting>
            <setting name="LastRepTo6" serializeAs="String">
                <value />
            </setting>
            <setting name="LastReplacementOption" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastPowerBIFile" serializeAs="String">
                <value />
            </setting>
        </inoPBI.My.MySettings>
    </userSettings>
</configuration>
